
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}


button.description-toggle,
button.description-toggle:hover {
	background: 0;
	border: 0;
	color: #2ca0c3;
	line-height: 14px;
}
button.description-toggle:hover {
	text-decoration: underline;
}
.description-toggle-image {
	height: 12px;
	margin-left: 2px;
	vertical-align: middle;
}


.v-select{position:relative;font-family:inherit}.v-select,.v-select *{box-sizing:border-box}@-webkit-keyframes vSelectSpinner{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes vSelectSpinner{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.vs__fade-enter-active,.vs__fade-leave-active{pointer-events:none;transition:opacity .15s cubic-bezier(1,.5,.8,1)}.vs__fade-enter,.vs__fade-leave-to{opacity:0}.vs--disabled .vs__clear,.vs--disabled .vs__dropdown-toggle,.vs--disabled .vs__open-indicator,.vs--disabled .vs__search,.vs--disabled .vs__selected{cursor:not-allowed;background-color:#f8f8f8}.v-select[dir=rtl] .vs__actions{padding:0 3px 0 6px}.v-select[dir=rtl] .vs__clear{margin-left:6px;margin-right:0}.v-select[dir=rtl] .vs__deselect{margin-left:0;margin-right:2px}.v-select[dir=rtl] .vs__dropdown-menu{text-align:right}.vs__dropdown-toggle{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:flex;padding:0 0 4px;background:none;border:1px solid rgba(60,60,60,.26);border-radius:4px;white-space:normal}.vs__selected-options{display:flex;flex-basis:100%;flex-grow:1;flex-wrap:wrap;padding:0 2px;position:relative}.vs__actions{display:flex;align-items:center;padding:4px 6px 0 3px}.vs--searchable .vs__dropdown-toggle{cursor:text}.vs--unsearchable .vs__dropdown-toggle{cursor:pointer}.vs--open .vs__dropdown-toggle{border-bottom-color:transparent;border-bottom-left-radius:0;border-bottom-right-radius:0}.vs__open-indicator{fill:rgba(60,60,60,.5);transform:scale(1);transition:transform .15s cubic-bezier(1,-.115,.975,.855);transition-timing-function:cubic-bezier(1,-.115,.975,.855)}.vs--open .vs__open-indicator{transform:rotate(180deg) scale(1)}.vs--loading .vs__open-indicator{opacity:0}.vs__clear{fill:rgba(60,60,60,.5);padding:0;border:0;background-color:transparent;cursor:pointer;margin-right:8px}.vs__dropdown-menu{display:block;box-sizing:border-box;position:absolute;top:calc(100% - 1px);left:0;z-index:1000;padding:5px 0;margin:0;width:100%;max-height:350px;min-width:160px;overflow-y:auto;box-shadow:0 3px 6px 0 rgba(0,0,0,.15);border:1px solid rgba(60,60,60,.26);border-top-style:none;border-radius:0 0 4px 4px;text-align:left;list-style:none;background:#fff}.vs__no-options{text-align:center}.vs__dropdown-option{line-height:1.42857143;display:block;padding:3px 20px;clear:both;color:#333;white-space:nowrap}.vs__dropdown-option:hover{cursor:pointer}.vs__dropdown-option--highlight{background:#5897fb;color:#fff}.vs__dropdown-option--disabled{background:inherit;color:rgba(60,60,60,.5)}.vs__dropdown-option--disabled:hover{cursor:inherit}.vs__selected{display:flex;align-items:center;background-color:#f0f0f0;border:1px solid rgba(60,60,60,.26);border-radius:4px;color:#333;line-height:1.4;margin:4px 2px 0;padding:0 .25em}.vs__deselect{display:inline-flex;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin-left:4px;padding:0;border:0;cursor:pointer;background:none;fill:rgba(60,60,60,.5);text-shadow:0 1px 0 #fff}.vs--single .vs__selected{background-color:transparent;border-color:transparent}.vs--single.vs--open .vs__selected{position:absolute;opacity:.4}.vs--single.vs--searching .vs__selected{display:none}.vs__search::-webkit-search-cancel-button{display:none}.vs__search::-ms-clear,.vs__search::-webkit-search-decoration,.vs__search::-webkit-search-results-button,.vs__search::-webkit-search-results-decoration{display:none}.vs__search,.vs__search:focus{-webkit-appearance:none;-moz-appearance:none;appearance:none;line-height:1.4;font-size:1em;border:1px solid transparent;border-left:none;outline:none;margin:4px 0 0;padding:0 7px;background:none;box-shadow:none;width:0;max-width:100%;flex-grow:1}.vs__search::-webkit-input-placeholder{color:inherit}.vs__search::-moz-placeholder{color:inherit}.vs__search:-ms-input-placeholder{color:inherit}.vs__search::-ms-input-placeholder{color:inherit}.vs__search::placeholder{color:inherit}.vs--unsearchable .vs__search{opacity:1}.vs--unsearchable .vs__search:hover{cursor:pointer}.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search{opacity:.2}.vs__spinner{align-self:center;opacity:0;font-size:5px;text-indent:-9999em;overflow:hidden;border:.9em solid hsla(0,0%,39.2%,.1);border-left-color:rgba(60,60,60,.45);transform:translateZ(0);-webkit-animation:vSelectSpinner 1.1s linear infinite;animation:vSelectSpinner 1.1s linear infinite;transition:opacity .1s}.vs__spinner,.vs__spinner:after{border-radius:50%;width:5em;height:5em}.vs--loading .vs__spinner{opacity:1}

.v-select {
	display: inline-block;
	width: 200px;
}


.library-item {
	padding: 12px;
}
.group-library-item-icon {
	float: left;
}
.group-library-item-icon-img {
	height: 16px;
	width: 16px;
}
.group-library-item-title-details {
	margin-left: calc(12px + 16px);
}
.library-item-description {
	margin-top: 6px;
}


.group-library-pagination {
	position: relative;
}
.pagination-links {
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}
.pagination-links ul {
	list-style-type: none;
}
.pagination-links li {
	display: block;
	float: left;
	padding: 0 4px;
}
.pagination-links li a {
	text-decoration: underline;
}
.pagination-links li a:hover {
	text-decoration: none;
}
.pagination-links li.disabled {
	display: none;
}
.pagination-links li.active a {
	color: #000;
	text-decoration: none;
}


.library-search-input {
	background: url( ../../../../a4e6bfc7a854c6ebc18a33b694e9dc37.svg );
	background-repeat: no-repeat;
	background-position: 0 100%;
	font-size: 11px;
	line-height: 31px;
	padding: 0 5px;
	width: 100%;
}
.library-search {
	transition: width .5s ease-in-out;
	width: 200px;
}
.search-is-expanded .library-search {
	width: calc(100% - 28px);
}
.search-is-expanded .library-search-input {
	width: calc(100% - 28px);
}
.search-input-click-to-close {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 8px;
	z-index: 50;
}


.search-results-count {
	font-size: 16px;
}


.group-library-column-header span {
	color: #666;
	cursor: pointer;
	display: inline-block;
	line-height: 28px;
	position: relative;
	text-decoration: none;
	width: 100%;
}
.group-library-column-header span:after {
	font-family: "dashicons";
	font-size: 10px;
	line-height: 28px;
	margin-left: 8px;
	position: absolute;
}
.group-library-column-header.default-sort-order-asc:hover span:after {
	content: "\f342";
}
.group-library-column-header.default-sort-order-desc:hover span:after {
	content: "\f346";
}
.group-library-column-header.is-current-sort-order-desc span:after {
	content: "\f346";
}
.group-library-column-header.is-current-sort-order-asc span:after {
	content: "\f342";
}
.group-library-column-header.is-current-sort-order-desc:hover span:after {
	content: "\f342";
}
.group-library-column-header.is-current-sort-order-asc:hover span:after {
	content: "\f346";
}


body.groups.single-item.library #item-header {
	display: none;
}
.library-loading {
	margin-top: 24px;
}
#cac-group-library-inner {
	margin-top: 24px;
}
.group-library-header {
	align-items: center;
	border-bottom: 2px solid #eeeeee;
	display: flex;
	padding-bottom: 20px;
}
.group-library-header h2 {
	font-size: 28px;
	margin-right: 20px;
}
.group-library-header .header-actions {
	display: block;
	position: relative;
	margin-left: 20px;
	margin-right: 12px;
	height: 28px;
	width: 100%;
}
.group-library-header.search-is-expanded .header-actions {
	margin-right: 7px;
}
a.add-new-item-button {
	background: #1C576C 0% 0% no-repeat padding-box;
	border-radius: 4px;
	color: #fff;
	font-size: 11px;
	left: 0;
	line-height: 24px;
	padding: 0 12px;
	position: absolute;
	text-decoration: none;
	top: 2px;
}
a.add-new-item-button,
a.add-new-item-button:link,
a.add-new-item-button:visited {
	color: #fff;
}
a.add-new-item-button:hover {
	background-color: #4f8a95;
}
.group-library-header .library-search {
	position: absolute;
	right: 0;
	text-align: right;
	top: 0
}
.group-library-nav {
	padding: 20px 0;
}
.group-library-pagination {
	font-size: 11px;
	padding-bottom: 20px;
}
.group-library-column-headers {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	color: #666;
	font-weight: 700;
	line-height: 28px;
}
.group-library-row {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}
.group-library-item-title {
	flex-basis: 70%;
}
.group-library-item-added-by {
	flex-basis: 20%;
}
.group-library-item-date {
	flex-basis: 20%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.search-is-expanded .add-new-item-button {
	opacity: 0;
}
.add-new-item-button {
	transition: opacity .25s;
}
.group-library-filters {
	position: relative;
	padding-right: 10px;
}
.description-toggle {
	position: absolute;
	right: 0;
	top: 0;
}


.add-new-field {
	margin-bottom: 20px;
}
.add-new-field label {
	display: block;
	font-weight: bold;
}
.add-new-folder-container input,
.add-new-field-text input {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	line-height: 35px;
	padding: 0 8px;
	width: calc(100% - 16px);
}
.add-new-field p.description {
	font-style: italic;
}
.add-new-field-textarea textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	height: 76px;
	padding: 8px;
	width: calc(100% - 16px);
}
.add-new-folder-container.has-error input,
.add-new-field.has-error input {
	border-color: #f00;
}
.add-new-folder-container.has-error .field-error,
.add-new-field.has-error .field-error {
	border-radius: 2px;
	color: #f00;
	padding: 5px 0;
	margin-top: 7px;
	width: 80%;
}


.folder-selector-dropdown .vs__dropdown-option {
	padding: 0;
}
.folder-selector-dropdown .folder-selector-option-content {
	padding: 3px 20px;
}
.folder-selector-dropdown .vs__dropdown-option .add-new-folder-option {
	background: #f5f5f5;
	margin-top: 10px;
}
.folder-selector-dropdown .vs__dropdown-option:hover .add-new-folder-option {
	background: #5897fb;
}
.add-new-folder-option {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
}
.add-new-folder-option .dashicons {
	line-height: 30px;
}
.add-new-folder-container {
	background: #f5f5f5;
	margin-top: 10px;
	padding: 8px 12px;
}
.add-new-folder-container input {
	width: 50%;
}


.add-new-form {
	padding-bottom: 100px;
}


.add-new-form {
	padding-bottom: 100px;
}


.item-type-selector label {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}
.item-type-selector .v-select {
	width: 300px;
}


.back-to-library {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 18px;
}
.back-to-library .dashicons {
	color: #1c576c;
	font-size: 14px;
	line-height: 20px;
}
.add-new-content {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}
.add-new-form {
	margin-top: 20px;
	max-width: 690px;
}

